version: '3.3'

services:
  idporten-innlogging-statistikk-klient:
    image: ${REGISTRY}/idporten-innlogging-statistikk-klient:${VERSION}
    ports:
      - "8085:8080"
    configs:
      - source: idporten-innlogging-statistikk-klient
        target: /application.properties
    secrets:
      - source: idporten-innlogging-maskinporten.cer
        target: maskinporten.cer
      - source: idporten-innlogging-maskinporten-private.pem
        target: maskinporten-private.pem
    networks:
      - net
      - statistics-api_net

networks:
  net:
    driver: overlay
  statistics-api_net:
    external: true

secrets:
  idporten-innlogging-maskinporten.cer:
    external: true
  idporten-innlogging-maskinporten-private.pem:
    external: true

configs:
  idporten-innlogging-statistikk-klient:
    external: true
